body{
	background-image: url("path-to-stripe.png");
}

#editTask{
	 margin-top: 8%;
}
li {
	margin-bottom: 3%;
	cursor: pointer;

}
#box{
	background-color: rgba(248, 91, 93, 1);
	-webkit-border-radius: 10px;
	height: 290px;
	padding-left: 2%;
	padding-top: 2%;
  	overflow-y:hidden;
}

